PORT=5001

MONGO_URI=mongodb://localhost:27017/smartshop-ai

JWT_USER_SECRET=userpanel
JWT_ADMIN_SECRET=adminpanel
JWT_EXPIRES_IN=7d

NODE_ENV=development

# Gmail configuration
MAIL_SERVICE=gmail
MAIL_USER=your-email@gmail.com
MAIL_PASS=your-google-app-password
